
.logo{
    height: 60px;
    margin-top: 10px;
    padding: auto;
}

form {
   
    margin-top:10px;

    border: 1px solid lightgrey;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 35px;
    border-radius: 5px solid;
  }

.sign-in {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    line-height: 200px;
    
   
  }
  
#email{
    font-weight: bold;
    font-size: 14px;
}

#pass{
    font-weight: bold;
    font-size: 14px;
}

#in{

    margin-bottom: 50px;
    margin-top: 25px;

    padding: 10px;
    width: 90px;
    height: 40px;
    
    
   
}

a{
    font-size: 12px;
    margin-left: 0px;
}

.conditions{
    font-size: 15px;

}

.forgot{
    margin-left: 155px;
}
.new{
    color: grey;
    margin-left: 100px;
   
   
}
#grey{
    color:black;
    background-color: lightgrey;
    border: black;
    margin-left: 55px;
    
    
}



